@import 'scss/colors';
@import 'scss/navbar';
@import 'scss/home';

html, body {
  margin: 0; padding: 0;
}

body,
body * {
  color: $brand-white;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background: $brand-black url('https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/black_bg.jpg') repeat;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}
