@import 'scss/colors';
@import 'scss/navbar';
@import 'scss/home';
@import 'scss/archive';
@import 'scss/contact';

html, body {
  margin: 0; padding: 0;
}

body,
body * {
  color: $brand-white;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background: $brand-black url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/bckg.jpg");
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

hr {
  border-top: 4px solid rgba(255,255,255,.1);
  width: 100%;
}