.topbar {
  padding: 0;
  background-color: #09080a;
  justify-content: center;
  z-index: 99; }
  @media (min-height: 300px) {
    .topbar {
      position: sticky;
      position: -webkit-sticky;
      top: 0; } }
  .topbar img {
    height: 125px;
    object-fit: contain;
    max-width: 100vw; }

.homebar {
  position: sticky;
  position: -webkit-sticky;
  top: 125px;
  z-index: 99;
  height: 75px;
  padding: 20px;
  background-color: #09080a;
  color: #ffffff; }
  @media (max-width: 767px) {
    .homebar {
      text-align: center;
      padding: 5px; }
      .homebar .navbar-toggler {
        margin: 0 auto; }
      .homebar .navbar-collapse, .homebar .navbar-collapse * {
        background: #09080a; } }
  .homebar a {
    transition: 0.2s all ease-in;
    opacity: .75; }
    .homebar a:hover {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      opacity: 1;
      cursor: pointer; }
  .homebar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    letter-spacing: 1px; }

.home-imageContainer {
  max-width: 100%;
  text-align: center; }
  .home-imageContainer img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 4px 15px #777; }
    @media (max-width: 767px) {
      .home-imageContainer img {
        width: 70%;
        max-width: 70%;
        margin: 0 auto; } }
.home-quote {
  margin-top: 50px; }
.home-text {
  letter-spacing: 1.5px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #111;
  text-align: right; }
  @media (max-width: 767px) {
    .home-text {
      text-align: center; } }
.home-section {
  margin: 50px 0;
  margin-bottom: 100px;
  align-items: center;
  padding: 20px 30px; }
.home-section-title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center; }
.home-section-guestName {
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 20px 0;
  margin-top: 50px;
  text-align: center; }
  .home-section-guestName--soon {
    text-transform: lowercase; }
.home-galleryContainer {
  position: relative;
  z-index: 999; }
.home-gallery-titleContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  text-shadow: 1px 1px 15px #303030;
  letter-spacing: 1.5px; }
  @media (max-width: 767px) {
    .home-gallery-titleContainer {
      display: block; } }
  .home-gallery-titleContainer h1 {
    font-size: 40px;
    line-height: 40px; }
  .home-gallery-titleContainer h2 {
    font-size: 32px;
    line-height: 40px; }
  .home-gallery-titleContainer span,
  .home-gallery-titleContainer .button {
    font-size: 32px;
    line-height: 40px; }
.home-gallery {
  max-width: 100vw;
  height: 70vh;
  height: calc(100vh - 200px);
  position: relative; }
  .home-gallery .slick-list {
    height: 100%; }
  .home-gallery .slick-track {
    height: 100%; }
  .home-gallery-imageContainer {
    max-width: 100vw;
    height: 100%;
    position: relative; }
    .home-gallery-imageContainer img {
      height: 100%;
      width: 100%;
      min-width: 100vw;
      object-fit: cover;
      position: relative; }
  .home-gallery-button {
    border: 1px #ffffff solid;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px; }

.home-gallery-title--left {
  max-width: 50%;
  text-align: right; }
  @media (max-width: 767px) {
    .home-gallery-title--left {
      display: none; } }

.home-gallery-title--right {
  display: block;
  max-width: 50%;
  text-align: center; }
  @media (max-width: 767px) {
    .home-gallery-title--right {
      max-width: 100%; } }
  .home-gallery-title--right span {
    display: block;
    width: 100%; }
  .home-gallery-title--right a {
    display: block;
    transition: 0.2s all ease-in; }
    .home-gallery-title--right a:hover {
      text-decoration: none;
      color: #ffffff;
      transform: scale(1.05); }

.text-center {
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px #111; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.guest-row {
  align-items: center;
  margin: 0;
  padding: 0 10px; }

footer {
  font-size: 10px; }

.footer-mediaList {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .footer-mediaList {
      width: 90%; } }

.hide {
  display: none; }

.archive-section {
  background-color: #09080a;
  padding-top: 50px;
  padding-bottom: 50px; }

.archive-image {
  max-width: 100%;
  text-align: center; }
  .archive-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 4px 15px #777; }
    @media (max-width: 767px) {
      .archive-image img {
        width: 70%;
        max-width: 70%;
        margin: 0 auto; } }

.contact-section {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 18px;
  line-height: 30px; }
  @media (max-width: 767px) {
    .contact-section {
      font-size: 12px; } }
  .contact-section .contact-name {
    margin-top: 50px;
    text-align: center; }
  .contact-section a {
    transition: 0.2s all ease-in; }
    .contact-section a:hover {
      cursor: pointer;
      color: #b52925;
      font-weight: bold;
      text-decoration: none; }

html, body {
  margin: 0;
  padding: 0; }

body,
body * {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif; }

body {
  background: #303030 url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/bckg.jpg");
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  width: 100%;
  max-width: 100%; }

hr {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  width: 100%; }
