<div class="home-galleryContainer">
  <div class="home-gallery">
    {% assign images = site.data.home_images | sort: "position" %}
    {% for image in images %}
    <figure class="home-gallery-imageContainer">
        <img src="{{ image.name | asset_path | absolute_url}}" alt="{{ image.title }}" style="object-position:{{ image.style }};">
    </figure>
    {% endfor %}
  </div>
  <div class="home-gallery-titleContainer">
    <div class="home-gallery-title--left">
      <h1>HeartRockowanie</h1>
      <h2>rockowe Walentynki</h2>
    </div>
    <div class="home-gallery-title--right">
      <span class="home-gallery-subtitle">14.02.2020</span>
      <span>klub PROGRESJA, Warszawa</span>
      <a class="button home-gallery-button" href="https://goout.net/pl/bilety/heartrockowanie-rockowe-walentynki/gyhf/" target="_blank">KUP BILET</a>
    </div>
  </div>
</div>